* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}


.general {
    height: 100%;
    width: 50%;
    margin: 5% auto;
}

.general-info {
    height: 100%;
    width: 40%;
    float: left;
    background-color: #E6DACC;
}

.general-body {
    height: 100%;
    width: 60%;
    float: left;
    background-color: #D9CFCC;
}

.main-info {
    height: 40%;
    width: 100%;
    float: top;
    background-color: #E6DACC;
}

#photo {
    display: block;
    border-radius: 50%;
    margin: 10% auto;
    height: 60%;
    width: 60%;
    
}

.name {
    margin: -5%;
    text-align: center;
}

.contacts{
    margin: 10%;
}

.contacts a{
    color: black;
    text-decoration: none;
}

.general-body h2{
    text-align: center;
}

.general-body div {
    padding: 10%;
}


.education table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.header {
    height: 7%;
    width: 100%;
    background-color: #F0E0D5;
    position:fixed;
    top: 0;
}