@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

body {
    margin: 0;
    font-family: 'Shippori Antique B1', sans-serif;
}

header {
    top: 0;
    position: fixed;
    background-color: #46F0CC;
    height: 60px;
    width: 100%;
}

.header-nav a{
    float: left;
    text-decoration: none;
    color: white;
    font-size: large;
    margin: 15px;
}

.general-info {
    height: 50%;
    width: 100%;
    margin-top: 60px;
    background-color: black;
    color: white;
    display:inline-block;
}

.photo-and-name{
    width: 600px;
    margin: 50px;
}

.photo-and-name h2, h3{
    margin-left: 260px;
}

#photo {
    float: left;
    width: 200px;
    height: 200px;
    border: 20px solid white;
}

.about-me {
    float: right;
    width: 600px;
}

.text-center{
    text-align: center;
}